/* ---------- root variables ---------- */
:root {
  --green: rgb(21, 68, 76);
  --light-green: rgb(172, 198, 201);
  --medium-green: #537074;
  --light-grey: #f8f8fa;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --gradient: linear-gradient(90deg, rgb(172, 198, 201), rgb(21, 68, 76));
}

/* ---------- Font ---------- */
@font-face {
  font-family: 'raleway';
  src: url('raleway/Raleway-Regular.ttf');
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: 'raleway', Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 3px;
  text-align: center;
  margin: 3%;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  margin: 2%;
}

b {
  font-weight: bold;
}

p {
  line-height: 1.5em;
  margin-bottom: 1%;
}

#homeH1 {
  font-size: 3em;
  margin-bottom: 5%;
}

#itallic {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  line-height: 2em;
  margin-top: 5%;
}

/* ---------- topbar styling ---------- */
.topbar {
  background-color: var(--green);
  color: var(--text-color-light);
  padding: 13.5px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar h2 {
  margin: 0;
  font-weight: 300;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.tabbar a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
.tabbar a.active {
  background-color: var(--light-green);
  color: var(--text-color-dark);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}

/* ---------- introduction styling ---------- */
#introduction {
  height: 100vh;
}

#introduction_article {
  position: relative;
  margin: 0;
  overflow: hidden;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  letter-spacing: 2px;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  background-color: #201F1F;
  box-sizing: border-box;
}

.skipBtn {
  position: absolute;
  top: 10%;
  right: 10%;
}

#introH1 {
  position: relative;
  white-space: nowrap;
  text-transform: uppercase;
  max-width: 50vw;
  text-align: center;
  font-size: 7vw;
  font-weight: 900;
  pointer-events: none;
  user-select: none;
}

#introH1 span {
  position: absolute;
  left: 7vw;
  color: transparent;
  background-image: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
  animation: scale 4s cubic-bezier(0.5, -0.75, 0.7, 1.25) forwards;
}

#introH1 span:nth-child(2) {
  animation-delay: 3s;
}

#introH1 span:nth-child(3) {
  animation-delay: 6s;
}

#introH1 span:nth-child(4) {
  animation-delay: 9s;
}

#introH1 span:nth-child(5) {
  animation-delay: 12s;
}

#introH1 span:last-child {
  /* text-shadow: 20px -25px rgba(0, 0, 0, 0.2); */
  animation: fade 2s linear 12s forwards;
}

.st0 {
  fill: none;
}

.st1 {
  fill: none;
  stroke: var(--medium-green);
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.introduction {
  position: absolute;
  top: 55%;
  right: 0;
  width: 80%;
  max-width: 45vw;
  height: 100vh;
  opacity: 0.6;
  fill: var(--gradient);
  stroke: var(--gradient);
  stroke-width: 2;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: dash 12s cubic-bezier(0.51, 0.92, 0.24, 1.15) 10s forwards;
}


/* ---------- home styling ---------- */
#home {
  background-image: url("../img/hellemobil.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  min-height: calc(100vh - 110px);
}

#home_article {
  display: block;
  margin: 250px 0;
}

/* #home_article>p {
  font-weight: 900;

} */

/* ---------- about me styling ---------- */
#aboutMe {
  text-align: justify;
}

.aboutMe_article {
  max-width: 750px;
  display: block;
  margin: 0 auto;
  padding: 2% 3%;
}

#myKids,
#myCode {
  width: 100%;
  text-align: center;
  margin: 1%;
}

#citat {
  width: 50%;
  display: block;

  text-align: center;
  margin: 1% auto;
}


form button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 1em;
  border-radius: 0;
  color: #ffffff !important;
  background-color: rgb(38, 76, 89);
  width: 100%;
  max-width: 350px;
}

input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 12px 15px;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: 1px solid #ddd;
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;
}

.grid-container>article {
  text-align: center;
  padding: 10px;
}

.grid-container>article img {
  max-width: 300px;
  width: 100%;
  margin-bottom: 1em;
  image-orientation: from-image;
}


/* ---------- Keyframes ---------- */

@keyframes scale {
  0% {
    opacity: 0.2;
    transform: scale(10);
    filter: blur(10px);
  }

  50%,
  85% {
    opacity: 0.8;
    transform: scale(1);
    filter: blur(0);
  }

  100% {
    opacity: 0;
    transform: rotateX(90deg);
    filter: blur(10px);

  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes dash {
  90% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 3000;
    stroke-dashoffset: 0;
  }
}

/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

form {
  margin: auto;
}


/* ---------- Media Query ---------- */

@media only screen and (min-width:600px) {
  .introduction {
    top: 58%;
  }

  .grid-container {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (min-width: 992px) {
  .grid-container {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }

  #home {
    background-image: url("../img/helle.jpg");
    background-position: center;
  }
}

@media only screen and (min-width:1000px) {
  .introduction {
    top: 60%;
  }
}

@media only screen and (min-width:1350px) {
  .introduction {
    top: 63%;
  }
}